* @the-vaan-group/engineering
*.swcrc @the-vaan-group/devops
.aiderignore @the-vaan-group/engineering
.cursorignore @the-vaan-group/engineering
.devcontainer/ @the-vaan-group/devops
.dockerignore @the-vaan-group/devops
.editorconfig @the-vaan-group/devops
.eslintignore @the-vaan-group/devops
.eslintrc.json @the-vaan-group/devops
.fdignore @the-vaan-group/devops
.gitattributes @the-vaan-group/engineering
.gitignore @the-vaan-group/devops
.npmrc @the-vaan-group/devops
.pnpmfile.cjs @the-vaan-group/devops
.prettierrc* @the-vaan-group/devops
.swcrc @the-vaan-group/devops
.theme-check.yml @the-vaan-group/devops
.vscode/ @the-vaan-group/devops
/.github/ @the-vaan-group/devops
/DEVELOPMENT.md @the-vaan-group/engineering-leads
/README.md @the-vaan-group/devops
/_js-dist/ @the-vaan-group/devops
/_js-test/ @the-vaan-group/devops
/_js/core/ @the-vaan-group/engineering-leads
/_js/core/util* @the-vaan-group/devops
/_js/project/ @the-vaan-group/engineering-leads
/_js/sections/workbench/ @the-vaan-group/devops
/_sass/core/ @the-vaan-group/engineering-leads
/bin/ @the-vaan-group/devops
/devops/ @the-vaan-group/devops
/docs/ @the-vaan-group/engineering-leads
/edit @the-vaan-group/devops
CODEOWNERS @the-vaan-group/devops
Dockerfile @the-vaan-group/devops
devcontainer.json @the-vaan-group/devops
docker-compose.yml @the-vaan-group/devops
docker-entrypoint.sh @the-vaan-group/devops
eslint.config.* @the-vaan-group/devops
gulpfile.js @the-vaan-group/devops
layout/workbench.liquid @the-vaan-group/devops
package-lock.json @the-vaan-group/devops
pnpm-workspace* @the-vaan-group/devops
rspack.config.* @the-vaan-group/devops
templates/*.workbench.json @the-vaan-group/devops
terser.config.json @the-vaan-group/devops
tsconfig.json @the-vaan-group/devops
watch.Procfile @the-vaan-group/devops
webpack.config.js @the-vaan-group/devops
