@use 'style-guide/media' as mq;
@use 'style-guide/mixins' as mixin;
@use 'style-guide/spacing' as spacing;
@use 'style-guide/colors' as color;
@use 'style-guide/typography' as typography;
@use 'style-guide/sizes' as sizes;

.section {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: color.get(background);
  color: color.get(text);
}

.container {
  display: flex;
  flex-direction: column;
  gap: spacing.get(size-24);
  width: 100%;
  padding: spacing.get(size-20) spacing.get(size-16);
  @include mixin.container();

  @include mq.min(tabletlandscape) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: spacing.get(size-48);
    padding: spacing.get(size-48);
  }
}

.media {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 4 / 3;
  border-radius: sizes.get(size-8);
  background-color: color.get(on-white);
}

.image,
.placeholder {
  @include mixin.fill-parent();
  display: block;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  gap: spacing.get(size-12);
}

.heading {
  @include typography.heading-3();
  font-weight: 500;

  @include mq.min(tabletlandscape) {
    @include typography.heading-2();
    font-weight: 500;
  }
}

.text {
  @include typography.body();
  max-width: 40rem;
}
