// Buttons
// ===============================================

@use './colors' as color;
@use 'spacing' as spacing;
@use '../unit' as u;

@mixin button(
  $txt-color,
  $txt-color-hover,
  $bg-color,
  $bg-color-hover,
  $border-color,
  $border-color-hover,
  $disable-bg,
  $disable-txt
) {
  display: flex;
  justify-content: center;
  border-radius: 100%;
  align-items: center;
  text-align: center;
  height: u.rem-calc(40);
  width: u.rem-calc(40);
  box-sizing: border-box;
  color: $txt-color;
  background-color: $bg-color;
  border: u.rem-calc(1) solid $border-color;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: u.rem-calc(11) u.rem-calc(10);
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  opacity: 1;

  &:after {
    content: '';
  }

  & svg {
    width: 100%;

    & path {
      stroke: currentColor;
    }
  }

  &:hover {
    color: $txt-color-hover;
    background-color: $bg-color-hover;
    border-color: $border-color-hover;
  }

  &:disabled {
    color: $disable-txt;
    background-color: $disable-bg;
    border-color: $disable-txt;
    cursor: not-allowed;
    opacity: 1;
  }
}
